.example{
    background-color: cadetblue;
    padding: 20px; 
}
/*.example span {
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: cornsilk;
}*/
.example div{
    display: inline-block;
    margin: 15px;
    border: 1px solid black;
    padding: 10px;
    background-color: cornsilk;
}